.masthead {
  height: 75vh;
  min-height: 500px;
  background-image: url('Yesmar-Logo-7.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#post {
	color:#262626;
	font-family:"Cinzel";
}

#content {
	color:#262626;
	font-family:'EB Garamond', serif;
}

.btn-default {
	background-color: #262626;
	color: white;
	font-family: 'EB Garamond', serif;
}
