


#post {
	color:#262626;
	font-family:'EB Garamond', serif;
	font-weight: bold;
	font-style: oblique;
}

#content {
	color:#262626;
	font-family:'EB Garamond', serif;
}



.btn-colour-1 {
  color: #fff;
  background-color: #262626;
  border-color: #262626;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
  	font-family:'EB Garamond', serif;
	font-weight: bold;
	font-style: oblique;
}