#sitehead {
	text-align:center;
	color:#262626;
	width:100%;
	display:block;
	margin:auto;
}

/* top of site links */
#links {
	text-align:center;
	color:#262626;
	font-family:'EB Garamond', serif;
	font-weight: bold;
	font-style: oblique;
}

#post {
	color:#262626;
	font-family:'EB Garamond', serif;
	font-weight: bold;
	font-style: oblique;
}

#content {
	color:#262626;
	font-family:'EB Garamond', serif;
}

#postheader {
	text-align:center;
}



.btn-colour-1 {
  color: #fff;
  background-color: #262626;
  border-color: #262626;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
  	font-family:'EB Garamond', serif;
	font-weight: bold;
	font-style: oblique;
}

img.test {
    width: 100%;
    height: auto;
}


a:link {
  color: #262626;
}
/* visited link */
a:visited {
  color: #262626;
}
